.catagories {
  position: fixed;

  width: 95%;
  height: 34px;

  left: 50%;
  top: 70px;

  transform: translate(-50%,0);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  overflow: auto;
  white-space: nowrap;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  /* border: solid black 1px; */
}

.catagories::-webkit-scrollbar{
  display: none;
}

.tag {
  position: relative;

  display: flex;

  align-items: center;

  text-align: start;

  background-color: white;

  border: solid white 1.5px;
  border-radius: 100px;

  padding-left: 10px;
  padding-right: 28px;
  padding-top: 4px;
  padding-bottom: 4px;

  margin: 2px;

  cursor: pointer;

  transition: all 0.2s;
}

.tag-circle {

  position: absolute;
  width: 20px;
  height: 20px;

  align-items: center;

  background-color: white;

  top: 50%;
  right: 4px;
  left: auto;
  transform: translate(0,-50%);

  border-radius: 50%;
  transition: all 0.2s;
}

@media (min-width: 840px){
  .catagories{
    width: 800px;
  }
  .catagories-blur{
    width: 800px;
  }
}
