.pages {
  margin-top: 110px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  /* border: solid black 1px; */
}

.page {
  height: 200px;

  width: 95%;
  margin-bottom: 20px;

  /* border: solid black 1px; */
}

@media (min-width: 840px){
  .page{
    width: 800px;
  }
}